<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawShapes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2F1954720EC6C7B00F7A089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F1955B20EC6C7C00F7A089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2F1956620EC6C7C00F7A089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
